@import "../style.sass"

.ConfirmationDialog
  &-window
    position: fixed
    padding: 10px
    z-index: 1000
    background-color: white
    border-radius: 5px
    border: solid 1px
  &-shroud
    z-index: 100
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: rgba(0, 0, 0, 0.5)

  &-controls
    text-align: center
    &-button
      background-color: lightgrey
      margin-right: 5px
      text-decoration: none
      padding: 2px
      border-radius: 3px
      border: solid 1px black
      color: black
    &-ok
      &:hover
        background-color: white
