.CreateBoardPopover
  padding: 10px
  min-width: 330px
  border-radius: 3px
  border: 1px solid #D6DADC
  border-bottom-color: #C4C9CC
  box-shadow: 0 1px 6px rgba(0,0,0,.15)
  background: #fff

  &-header
    position: relative
    text-align: center
    opacity: 0.75
    > a
      position: absolute
      right: 0
      text-decoration: none
      color: inherit
      &:hover
        text-decoration: underline
