@import "../style.sass"

.DialogBox
  z-index: 101
  position: fixed
  margin-top: 5px
  padding: 10px 0
  min-width: 330px
  border-radius: 3px
  border: 1px solid #D6DADC
  border-bottom-color: #C4C9CC
  box-shadow: 0 1px 6px rgba(0,0,0,.15)
  font-size: 14px
  background: $white
  color: $default-text-color
  white-space: normal
  &-header
    text-align: center
    opacity: 0.75
  &-cancel
    position: absolute
    top: 0
    right: 0
    text-decoration: none
    color: #999
    padding: 10px
    &:hover
      color: #4d4d4d
  &-divider
    margin: 10px
    border-bottom: 1px solid #D6DADC
  form
    font-weight: bold
    padding: 10px
    align-items: flex-start
    
