.InviteByEmailButton
  $button-height: 30px
  $button-margin: 4px
  $list-width: 270px

  position: relative

  &-button
    margin: 0 $button-margin
    height: $button-height
    padding: 0 10px
    line-height: $button-height
    min-width: $button-height
    position: relative
    color: inherit
    cursor: pointer
    width: 95%
    &:hover
      background-color: #2E86AB
