@import "../style.sass"

.ListActionsMenu
  padding: 0 0 5px 0
  &-GoBackArrow
    position: absolute
    z-index: 2147483647
    top: 0
    left: 0
    padding: 17px 12px
    transform: scale(.9)
    .Icon
      color: #999
      &:hover
        color: #4d4d4d
  &-CopyListPane
    padding: 0px 10px 10px 
  > .DialogBox-header
    padding: 10px 10px 0 10px

  > .Link:not(.DialogBox-cancel),
  > .ConfirmationLink > .Link
      display: block
      padding: 5px 10px
      &:hover
        color: white
        background: $blue
