@import "../../style.sass"

.CardModal
  &-shroud, &-stage
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
  &-shroud
    z-index: 100
    background-color: rgba(0, 0, 0, 0.5)
  &-stage
    pointer-events: none
    z-index: 101
    display: flex
    justify-content: center
    align-items: center
  &-window
    pointer-events: auto
    min-width: 700px
    max-width: 700px
    min-height: 300px
    padding: 13px
    border-radius: 5px
    background-color: #eff1f2
    display: flex
    flex-direction: row
  &-body
    display: flex
    flex-direction: column
    flex: 1
  &-content
    padding-top: 7px
    display: flex
    flex-direction: row
    &-icon
      font-size: .9em
      color: grey
      flex: 0 0 45px
      margin-top: 5px
    &-title
      font-size: 1.2em
      font-weight: bold
    &-copy
      flex: 1
    & input
      background: none
      border: none
      color: inherit
      width: 100%
      &:focus
        background: #fff
    & input:focus
      outline: none
    &-list, &-board, &-eye
      color: #999999
    &-board
      margin-left: 20px
    &-eye
      padding-left: 8px
      font-size: .7em
  &-controls
    display: flex
    flex-direction: column
    flex: 0 0 130px
    margin-top: 10px
    > .Button,  > span > .Button
      display: block
      width: 100%
      text-align: left
      > .Icon
        margin-right: 0.2em
    &-title
      margin: 25px 0 5px 0
      font-weight: bold
  &-description
    margin: 10px 20px 10px 0px
    &-title
      margin-bottom: 5px
      color: grey
      font-size: .85em
    &-Edit
      &-button, &-cancel
        display: inline
        color: black
      &-button
        margin-left: 5px
        color: grey
    &-textarea
      box-shadow: inset 0 1px 6px rgba(0,0,0,.1)
      resize: none
      border-radius: 3px
      border: none
      margin: 10px 10px 10px 0px
      padding: 10px
      background-color: #eaebec
    &-textarea:focus
      outline: none
    &-controls
      display: flex
      flex-direction: row
      margin-bottom: 15px
  &-comments
    margin: 7px 0px 7px 0px
    display: flex
    flex-direction: row
    &-Form-input
      border-radius: 3px
      border: 0px rgba(0, 0, 0, 0)
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1)
      resize: none
      padding: 10px
      flex: 1
    &-Form-input:focus
      outline: none
    &-header
      display: flex
      flex-direction: row
    &-title
      font-size: 1.1em
      font-weight: bold
    &-icon
      color: grey
      flex: 0 0 45px
    &-userimage
      max-width: 30px
      max-height: 30px
      border-radius: 4px
    &-content
      flex: 1
    &-imgcontain
      flex: 0 0 45px
    &-Form
      flex: 1
  &-name
    max-width: 100%
input[type="submit"].CardModal-comments-submit
  max-width: 25%
  margin: 8px 0px 6px 0px
