@import "../../style.sass"

.ColorBox
  border-radius: 5px
  background-size: cover
  position: relative
  width: 40px
  height: 40px
  background-color: #0079BF
  padding: 5px
  margin: 2px
  justify-content: center
  align-items: center
  display: flex
  color: white
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px #000
  &:hover
    cursor: pointer
