@import "../../../style.sass"

.CardModal
  &-archivedBanner
    background-color: #FDFAE5
    background-image: linear-gradient(to bottom right,rgba(0,0,0,.05) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.05) 50%,rgba(0,0,0,.05) 75%,transparent 75%,transparent)
    background-size: 14px 14px
    height: 50px
    padding: 9pt 9pt 9pt 50px
    border-top-left-radius: 5px
    border-top-right-radius: 5px
  &-columns
    flex-wrap: wrap
    display: flex
    padding: 8px
  &-content
    display: flex
    flex-direction: column
    flex: 1
    margin-right: 20px
  &-body
    margin-left: 35px
    display: flex
    flex-direction: column

  &-CardModalShroud
    &-shroud, &-stage
      position: fixed
      top: 0
      left: 0
      bottom: 0
      right: 0
    &-shroud
      z-index: 100
      background-color: rgba(0, 0, 0, 0.5)
    &-stage
      pointer-events: none
      z-index: 101
      display: flex
      justify-content: center
      align-items: flex-start
      overflow-y: scroll
    &-window
      pointer-events: auto
      max-width: 700px
      width: 100%
      min-height: 400px
      border-radius: 5px
      background-color: #eff1f2
      display: flex
      flex-direction: column
      margin: 5px
      margin-top: 50px

  &-CardHeader
    &-header
      display: flex
      flex-direction: row
      align-items: center
      &-title
        font-size: 1.2em
        font-weight: bold
        margin: 4px 10px
      &-icon
        color: #999999
        margin: 0 4px
        display: flex
        justify-content: center
    &-list
      font-weight: normal
      margin-left: 35px
      font-size: 0.85em
      color: #999999
      &-name
        text-decoration: underline
    input
      background: none
      border: none
      color: inherit
      width: 100%
      &:focus
        background: #fff
    input:focus
      outline: none

  &-CardLabels
    &-header
      color: #999999
      font-weight: normal
      font-size: .89em
      margin: 10px 0 5px
    &-labels
      display: flex
      flex-direction: row
      flex-wrap: wrap
      &-Label
        margin-right: 0.25em

  &-Controls
    display: flex
    flex-direction: column
    flex: 0 0 115px
    margin-top: 10px
    > .Button,  > span > .Button, > div > .Button
      display: block
      margin-bottom: 5px
      width: 100%
      text-align: left
      > .Icon
        margin-right: 0.2em
    &-title
      margin: 25px 0 5px 0
      font-weight: bold
    &-delete
      background: #CF513D
      color: white
      border: none
      width: 100%
      &:hover
        background: darken(#CF513D, 10%)
        border: none

  &-CardCommentForm
    display: flex
    flex-direction: column
    &-header
      display: flex
      flex-direction: row
      margin: 10px 0
      &-icon
        color: #999999
        margin: 0 4px
        display: flex
        justify-content: center
      &-title
        font-size: 1em
        margin-left: 8px
        font-weight: bold
    &-body
      display: flex
      flex-direction: row
    &-image
      max-width: 30px
      max-height: 30px
      border-radius: 4px
      &-container
          flex: 0 0 35px

  &-CommentEditForm
    flex-grow: 1
    flex-shrink: 1
    align-self: stretch
    textarea
      width: 100%
      border: 0px rgba(0, 0, 0, 0)
      border-radius: 3px
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1)
      font-size: 14px
      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &:placeholder,
      &::placeholder
        font-weight: 500
        color: #8c8c8c

  &-CardComment
    display: flex
    flex-direction: column
    margin-bottom: 4px

    &-content
    &-user
      display: flex
      flex-direction: row
      align-items: center
      font-weight: bold
      margin-bottom: 5px
      &-image
        width: 30px
        border-radius: 4px
      &-name
        margin-left: 5px
        font-size: 14px
    &-comment
      font-size: 14px
      display: flex
      flex-direction: column
      align-items: flex-start
      &-box
        background-color: #fff
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1)
        border-radius: 3px
        display: block
        min-width: 50px
        margin: 6px 10px 0
        padding: 8px
        white-space: normal
        font-weight: normal
      &-controls
        display: flex
        flex-direction: row
        font-size: 12px
        color: #8c8c8c
        font-weight: bolder
        margin: 6px 0 0 14px
        &-time
        &-edit, &-delete
          text-decoration: underline
        &-margin
          margin: 0 3px
      &-editing
        &-input
          margin: 10px 10px 0
          border-radius: 3px
          border: 0px rgba(0, 0, 0, 0)
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1)
          resize: none
          padding: 10px
          flex: 1
          width: 96%
        &-input:focus
          outline: none
        &-controls
          margin-left: 10px
          display: flex
          flex-direction: row
          align-items: center
          &-cancel
            margin-left: 10px
            color: #8c8c8c
    &-border
      margin-left: 38px
      border-bottom: 1px solid #E2E4E6
      margin-top: 8px


  &-CardDescription

    &.Link
      display: block
      color: #8c8c8c
      margin-top: 5px
      padding: 5px 10px 5px 5px
      border-radius: 3px
      text-decoration: underline
      &:hover
        color: #4d4d4d
        cursor: pointer
        background-color: #D6DADC
      > .Icon
        margin-right: 0.5em

    &.ContentForm
      margin-top: 5px
      textarea
        color: #4d4d4d
        border: 1px solid #CDD2D4
        background: rgba(0,0,0,.03)
        border-color: rgba(0,0,0,.15)
        box-shadow: inset 0 1px 6px rgba(0,0,0,.1)

    &-content
      font-size: 0.85em
      font-family: sans-serif
      font-weight: normal
      margin-left: 1px
      white-space: pre-wrap

    &-header
      color: #999999
      margin: 10px 0 6px
      font-size: .89em
      font-weight: normal
      &-edit
        text-decoration: underline
        margin-left: 4px

  &-CardActivity
    display: flex
    flex-direction: column
    margin: 8px
    &-activityLog
    &-header
      display: flex
      flex-direction: row
      margin-left: -4px
      align-items: center
      padding: 20px 0
      &-icon
        color: #999999
        display: flex
        justify-content: center
      &-title
        display: flex
        align-items: center
        margin-left: 10px
        flex-grow: 2
        font-weight: bold
      &-toggle
        text-decoration: underline
        color: #8c8c8c
        font-weight: bolder
        font-size: 14px


  &-CopyCardDialog
    &-SelectContainer
      position: relative
      height: auto
      border: 1px solid #E2E4E6
      width: 100%
      padding: 7px
      margin-bottom: 7px
      font-size: 20px
      font-weight: bold
      border-radius: 3px
      background: linear-gradient(to bottom,#fff 0,#F8F9F9 100%)
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
      &:hover
        background: #298FCA
        color: white
        .CardModal-CopyCardDialog-SelectContainer-Label
          color: white
    &-Wrapper
      display: flex
      width: 100%
      div:nth-of-type(1)
        max-width: 210px
      div:nth-of-type(2)
        width: 40%
        margin-left: 7px
    label
      font-size: 12px
      color: #8c8c8c
    select
      height: 60px
      width: 100%
      opacity: 0
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      border-radius: 5px
      padding: 5px
      &:hover
        cursor: pointer
    > .Form
      padding: 10px
      align-items: flex-start
      > textarea
        margin: 10px 0
        border-radius: 3px
        height: 72px
        width: 100%
        border: 1px solid #CDD2D4
        background: #E2E4E6
        padding: 7px
        color: #4d4d4d
        font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif
        line-height: 18px
        transition: background .15s
        &:focus
          background: #fff
          outline: none
          border-color: #298FCA
          box-shadow: 0 0 2px #298FCA


  &-Activity > .Activity-content
    display: flex
    flex-direction: row
    align-items: center
